openapi: 3.0.3
info:
  title: Release.com Platform Accounts Apps API
  version: 1.0.0
  description: 'The Release.com Platform API provides REST endpoints for managing

    ephemeral environments, deployments, builds, clusters, and related

    infrastructure.


    **V1 scope:** Platform endpoints only. AI sandbox endpoints (`/ai/**`)

    are excluded from this version and will be added in a future iteration.

    '
  contact:
    name: Release.com
    url: https://release.com
  x-logo:
    url: https://api.release.com/release-logo.png
    backgroundColor: '#FFFFFF'
    altText: Release
servers:
- url: https://api.release.com
  description: Production
security:
- userEmail: []
  userToken: []
tags:
- name: Apps
paths:
  /apps/{id}/clone:
    post:
      tags:
      - Apps
      summary: Clone app
      operationId: apps_clone
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          description: Unauthorized — missing or invalid credentials
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Resource ID (integer or hashid)
  /apps/{id}/branches_and_tags:
    get:
      tags:
      - Apps
      summary: List branches and tags
      operationId: apps_branches_and_tags
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          description: Unauthorized — missing or invalid credentials
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Resource ID (integer or hashid)
  /apps/check_app_name:
    get:
      tags:
      - Apps
      summary: Check app name App
      operationId: apps_check_app_name
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid credentials
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /apps/{id}/services:
    get:
      tags:
      - Apps
      summary: List app services
      operationId: apps_services
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          description: Unauthorized — missing or invalid credentials
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Resource ID (integer or hashid)
  /apps:
    get:
      tags:
      - Apps
      summary: List Apps
      operationId: apps_index
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/App'
        '401':
          description: Unauthorized — missing or invalid credentials
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters: []
    post:
      tags:
      - Apps
      summary: Create App
      operationId: apps_create
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid credentials
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
  /apps/new:
    get:
      tags:
      - Apps
      summary: New App
      operationId: apps_new
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid credentials
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /apps/{id}/edit:
    get:
      tags:
      - Apps
      summary: Edit App
      operationId: apps_edit
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized — missing or invalid credentials
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Resource ID (integer or hashid)
  /apps/{id}:
    get:
      tags:
      - Apps
      summary: Get App
      operationId: apps_show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          description: Unauthorized — missing or invalid credentials
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Resource ID (integer or hashid)
    patch:
      tags:
      - Apps
      summary: Update App
      operationId: apps_update
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          description: Unauthorized — missing or invalid credentials
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Resource ID (integer or hashid)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
    put:
      tags:
      - Apps
      summary: Update App
      operationId: apps_put_update
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          description: Unauthorized — missing or invalid credentials
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Resource ID (integer or hashid)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
    delete:
      tags:
      - Apps
      summary: Delete App
      operationId: apps_destroy
      responses:
        '200':
          description: Deleted
        '401':
          description: Unauthorized — missing or invalid credentials
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Resource ID (integer or hashid)
components:
  schemas:
    App:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        default_branch:
          type: string
        on_premise:
          type: boolean
        disabled:
          type: boolean
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        errors:
          type: array
          items:
            type: string
  securitySchemes:
    userEmail:
      type: apiKey
      in: header
      name: X-User-Email
      description: User's email address for authentication
    userToken:
      type: apiKey
      in: header
      name: X-User-Token
      description: User's authentication token (from ~/.release.yaml)
externalDocs:
  description: Release Documentation
  url: https://docs.release.com
